<span style="text-align: center;">
  <h1>Rails 7 Application</h1>
  <div>
    <h2 style="color: blue;">
      Public#Index
    </h2>
    <p>Find me in app/views/public/index.html.erb</p>
    <p
      data-controller="hello"
      data-action="click->hello#handleClick"
    ></p>
  </div>
</span>
